.Shop-bg{
    background: url(https://i.ibb.co/xY61FWy/pexels-polesie-toys-6139413.jpg), rgba(0, 0, 0, 0.835);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}